{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 120,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "tabWidth": 2,
  "useTabs": false
}